<footer>
  <div class="contain">
    <ul>
      <li>
      <%= link_to "https://www.google.co.jp/", target: :_blank do %>
      <span class="fa fa-google">Google</span>
      <% end %>
      </li>
      <li>
      <%= link_to "#", target: :_blank do %>
      <span class="fa fa-twitter">twitter</span>
      <% end %>
      </li>
      <li>
      <%= link_to "#", target: :_blank do %>
      <span class="fa fa-facebook">facebook</span>
      <% end %>
      </li>
    </ul>
  </div>
</footer>