<header>
  <div class="contain">
    <div class="top-wrapper">
      <%= link_to("About","/about") %>
      <%= link_to("Menu", menus_path) %>
      <%= link_to("Event","/event") %>
    </div>
  <%= link_to image_tag("food_gyouza_age",class:"logo"),"/" %>
  <h1>猫耳飯店</h1>
  </div>
</header>