.logo {
  width:70px;
  height:90px;
  float:left;
}

.top-wrapper{
  line-height:80px;
  background-color:green;
  float:right;
  width:150px;
  
}

.contain{
  background-color:pink;
  height:80px;
}

h1{
  text-align:center;
}