.logo {
  width:70px;
  height:90px;
  float:left;
}

.top-wrapper{
  line-height:80px;
  float:right;
}

.contain{
  background-color:pink;
  height:80px;
}

h1{
  text-align:center;
}

/* tabnav */
.tabnav{
  margin: 0;
    padding: 0;
}
.tabnav li{
    display: inline;
}
.tabnav li label{
    display: inline-block;
    background: #405dca;
    color: #fff;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
  cursor: pointer;
}
input[name=tabinput]{
  display: none;
}
#tab01:checked ~ .tabnav .tabnav01,
#tab02:checked ~ .tabnav .tabnav02,
#tab03:checked ~ .tabnav .tabnav03{
    background: #ddd;
    color: #333;
}

/* tabcontent */
.tabcontent{
    padding: 20px;
    border: 1px dotted #ccc;
}
.tabcontent div{
  display: none;
}
#tab01:checked ~ .tabcontent #tabcontent01,
#tab02:checked ~ .tabcontent #tabcontent02,
#tab03:checked ~ .tabcontent #tabcontent03 {
  display: block;
}
/* home's slide */
.slide {
  width:1000px;
  height:250px;
  background-color:gray;
  margin:0 auto;
  display:none;
}

.active {
  display:block;
}

.slide-wrapper {
  text-align: center;
  width: 1000px;
  margin: 0 auto;
  color: blue;
  padding: 60px 0;
}

.change-btn-wrapper {
  width: 500px;
  margin: 20px auto;
  font-size: 18px;
}

.change-btn-wrapper:after {
  content: "";
  clear: both;
  display: block;
}


.prev-btn {
  cursor: pointer;
  float: left;
  display: none;
}

.next-btn {
  cursor: pointer;
  float: right;
}

.slides {
  padding: 0;
}

.index-btn-wrapper {
  font-size: 16px;
  margin-top: 20px;
}

.index-btn {
  display: inline-block;
  color: #4e90af;
  background-color: #e0f5ff;
  width: 40px;
  padding: 6px 0;
  margin: 0 5px;
  border-radius: 3px;
  cursor: pointer;
}

.checked{
  color:red;
}

.index-btn:hover {
  color: #fff;
  background-color: #5cabd0;
}
/* menu-like-btn */
.like-btn {
  color: #8899a6;
}

.like-btn-unlike {
  color: #ff2581;
}
/* user-likes */
#menu ul{ 
margin: 0; 
padding: 0; 
list-style: none; 
}
#menu li{ 
display: inline; 
padding: 0; 
margin: 0; 
}
#menu li, .like{
display: block; 
border-left: 8px solid #C97556;
background-color: #474655;
padding: 3px 10px;
text-decoration: none;
color: #E1E2CF;
width: 150px; 
margin: 1px 0px;
text-align: left;
font-size: 14px;
}
#menu li, .like:hover{
border-left: 8px solid #990033;
background-color: #474655;
}